.contact-page {
  background-color: var(--white);
  .header-contact {
    backdrop-filter: blur(0);
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: 0 4px 10px 0 rgba(32, 42, 39, 0.09);
    transition: all 0.35s ease-in-out;
    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }

  .contact-sec {
    .background-con {
      height: 31.2rem;
      overflow: hidden;
      .contact-background {
        height: auto;
        width: 100%;
        background-image: url("https://www.ile-noirmoutier.com/sites/default/files/header/Le%20Bois%20des%20Eloux%202.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        aspect-ratio: auto 1679 / 525;
      }
    }
    .shadow {
      &::before {
        position: absolute;
        content: "";
        height: 160px;
        width: 50vw;
        left: 50%;
        transform: translateX(-50%);
        top: 26em;
        box-shadow: 0 10px 15px 4px rgba(0, 0, 0, 0.5);
      }
    }
    .contact-infos-con {
      background-color: var(--white);
      position: relative;
      left: 50%;
      // top: calc(max(25rem, 40vh));
      top: -7rem;
      width: 100%;
      max-width: 50vw;
      transform: translateX(-50%);

      .contact-infos {
        padding: 2rem 1.5rem;
        margin-bottom: 4rem;
        h2 {
          text-transform: uppercase;
          margin-bottom: 3rem;
          overflow: hidden;
          display: flex;
          align-items: center;
          // opacity: 1;
          span {
            font-size: 1.6rem;
            margin-right: 0.5rem;
            color: var(--blue-color-1);
            letter-spacing: 0.04em;
          }
          &::after {
            content: "";
            display: block;
            flex: 1;
            width: 100%;
            height: 2px;
            background-color: var(--blue-color-1);
          }
        }
      }
      .contact-details {
        margin-inline: 2rem;
        .contact-info-main {
          p {
            font-weight: bolder;
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
          }
        }
        .flex {
          display: flex;
          align-items: baseline;
          margin-bottom: 1rem;
          i {
            margin-right: 0.5rem;
          }
        }

        a {
          // color: rgba(23, 26, 32, 0.8);
          margin-bottom: 0.5rem;
          font-weight: 600;
          color: var(--blue-color-1);
          &:hover {
            color: var(--blue-color-2);
          }
        }
      }
    }
    // animation: from-top 1s ease-in;
    @keyframes from-top {
      0% {
        transform: translateY(-1000%);
        opacity: 0;
      }
      90% {
        transform: translateY(10%);
        opacity: 1;
      }
      95% {
        transform: translateY(-7%);
      }
      100% {
        transform: translateY(0);
      }
    }

    // animation: from-bot 2s ease-in;
    @keyframes from-bot {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
