:root {
  --white: whitesmoke;
  --tertiary-color: rgb(197, 101, 22);
  --blue-color-1: rgb(67, 128, 128);
  --blue-color-2: rgb(80, 182, 182);
  --blue-color-3: rgb(211, 241, 243);
  --grey-color-1: #ccc;
  --grey-color-2: #b9b7b7;
}

.header-house {
  position: static;
  box-shadow: 0 4px 10px 0 rgba(32, 42, 39, 0.09);
}
.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding-inline: 1.25rem;
}

//-----------------------------------------------------------------------------
//house name and rating
//-----------------------------------------------------------------------------

.house-intro {
  // padding-bottom: 4rem;

  .name-container-bg {
    background-color: var(--blue-color-3);
    // margin-top: 4rem;
    padding-block: 4rem 3rem;

    .name-container {
      max-width: 1350px;
      margin: 0 auto;
      padding-inline: 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .house-name {
        p:first-child {
          font-weight: 700;
          font-size: 2.5rem;
        }
      }
      .rating-con {
        margin-right: 6rem;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        p {
          text-align: end;
        }
      }
      .house-name {
        :first-child {
          font-size: 2rem;
          margin-bottom: 1rem;
          font-weight: 600;
        }
        :last-child {
          padding-left: 14px;
        }
        padding-bottom: 3rem;
      }
    }
  }
}

//-----------------------------------------------------------------------------
//House navbar
//-----------------------------------------------------------------------------

.house-index-main {
  position: relative;
  margin-top: -40px;
  padding-inline: 0;
  .index-menu {
    top: 0;
    position: sticky;
    z-index: 1000;
    .house-index-con {
      margin-bottom: -2.5rem;
      .house-index {
        border-radius: 20px;
        background-color: var(--white);
        display: flex;
        column-gap: 1.2rem;
        overflow: hidden;
        z-index: 1000;
        box-shadow: 0 4px 10px 0 rgba(32, 42, 39, 0.09);

        .house-index-item {
          list-style: none;
          display: flex;
          flex: 1;

          a {
            padding: 1.5rem 1.2rem;
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            overflow: hidden;
            // border: 1px solid red;

            &:hover:after,
            &.active::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 5px;
              bottom: 0;
              left: 0;
              background-color: var(--blue-color-2);
            }
          }
        }
      }
    }
  }
}

//-----------------------------------------------------------------------------
// house content & contact aside
//-----------------------------------------------------------------------------
.main-title-con {
  margin-bottom: 1.5rem;
  .main-title {
    display: flex;
    overflow: hidden;
    align-items: center;

    span {
      margin-right: 1rem;
      font-weight: 600;
    }
    &::after {
      content: "";
      display: block;
      flex: 1;
      width: 100%;
      height: 2px;
      background-color: var(--blue-color-2);
    }
  }
}
.house-container {
  // padding-inline: 0;
  display: flex;

  .house-items {
    // max-width: calc(1350px - 375px);
    flex-grow: 1;
    width: 100px;
    position: relative;
    padding-right: 1.6rem;
    .house-item-description {
      .photo-description {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        row-gap: 1rem;
        padding-top: 5rem;
        flex-grow: 0;
        flex-basis: 100%;
        max-width: 100%;
        .photo-mosaic {
          border-radius: 16px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 150px);
          overflow: hidden;
          grid-gap: 10px;
          .main-photo {
            grid-column: span 2;
            grid-row: span 3;
            a img {
              object-fit: cover;
              height: 100%;
              width: 100%;
            }
          }
          .other-photo {
            display: block;
            a img {
              object-fit: cover;
              height: 100%;
              width: 100%;
            }
          }
        }
        .icon-des {
          ul {
            display: flex;
            column-gap: 2.8rem;
            li {
              row-gap: 0.7rem;
              list-style: none;
              display: flex;
              // flex: 1;
              align-items: center;
              flex-direction: column;
              justify-content: space-between;
              &:last-child {
                align-items: flex-start;
              }
              span {
                font-size: 1.4rem;
              }
              i {
                font-size: 1.4rem;
              }
              p:first-child {
                font-weight: 600;
              }
            }
          }
        }
      }
      .text-description {
        padding-top: 6rem;
        .main-title-con {
          margin-bottom: 1rem;
        }
        .text-des-con {
          padding-inline: 1rem;
          p:first-child {
            margin-bottom: 0.5rem;
          }
          .caution-con {
            margin-top: 3rem;
            display: flex;
            column-gap: 4rem;
            p {
              font-weight: 600;
            }
            li {
              &::marker {
                color: var(--blue-color-1);
              }
              .caution-1 {
                position: relative;
                left: -10px;
              }
              .caution-2 {
                padding-left: 14px;
                color: var(--blue-color-2);
                font-weight: 500;
              }
            }
          }
          .caution-con:last-child {
            column-gap: 1rem;
            flex-direction: column;
            .tarif {
              padding-top: 1rem;
            }
            .prices-con {
              display: flex;
              column-gap: 2rem;
              justify-content: center;
              padding: 1.2rem;
              box-shadow: 0 0px 10px 0 rgba(32, 42, 39, 0.3);

              border-radius: 16px;
              li {
                flex: auto;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 0.5rem;
              }
            }
          }
        }
      }
    }
    .photo-carousel {
      padding-top: 6rem;

      .slider-container {
        max-width: 800px;
        position: relative;
        margin: auto;
        height: 450px;
        overflow: hidden;
        img {
          max-width: 100%;
          object-fit: contain;
        }
        .menu {
          position: absolute;
          left: 0;
          z-index: 11;
          width: 100%;
          bottom: 0;
          text-align: center;
          label {
            cursor: pointer;
            display: inline-block;
            width: 10px;
            aspect-ratio: 1;
            border-radius: 50px;
            margin: 0 0.2em 1em;
            background-color: #ccc;
            &:hover {
              background-color: #1c87c9 !important;
            }
          }
        }
        .slide-input {
          opacity: 0;
        }

        .slide-img {
          width: 100%;
          height: 400px;
          position: absolute;
          top: 0;
          left: 100%;
          z-index: 10;
          transition: left 0s 0.75s;
        }
        [id^="slide"]:checked + .slide-img {
          left: 0;
          z-index: 100;
          transition: left 0.65s ease-out;
        }
      }
    }
    .equipment-con {
      padding-block: 6rem;
      padding-bottom: 8rem;
      width: 100%;
      .equipment-items {
        display: flex;
        column-gap: 6rem;
        margin-bottom: 1rem;
        padding: 1.25rem;
        header {
          font-weight: 600;
        }
        ul {
          flex: 1;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 1.2rem;
          justify-content: center;
          li {
            &::marker {
              color: var(--blue-color-1);
            }
          }
        }
        &.exte {
          padding-block: 2.2rem;
        }
      }
    }
    // .localisation-con {
    padding-bottom: 2rem;
    // }
  }
  .contact-col {
    padding: 5rem 1rem;
    border-radius: 20px;
    width: 375px;
    background-color: var(--white);
    position: relative;
    z-index: 98;
    // border: 2px solid var(--blue-color-2);
    .contact-container {
      position: sticky;
      top: 100px;
      width: 100%;
      z-index: 1000;

      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      margin-bottom: 2rem;
      h3 {
        font-size: 1.6rem;
        display: flex;
        padding-left: 2rem;
      }
      .contacts {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        margin-left: 2rem;
        border-left: 2px solid var(--blue-color-2);
        border-top: 2px solid var(--blue-color-2);
        padding-left: 1rem;
        padding-top: 1rem;
        :first-child {
          p {
            font-weight: 600;
            font-size: 1.1rem;
          }
        }
        .contact {
          display: flex;
          align-items: baseline;
          i {
            margin-right: 6px;
          }
          &:last-child {
            padding-bottom: 2rem;
          }
          a span {
            font-weight: 600;
            color: var(--blue-color-1);
            &:hover {
              color: var(--blue-color-2);
            }
          }
        }
      }
    }
    .backToTop {
      position: fixed;
      bottom: 1.5rem;
      margin-inline: 1rem;
      right: 0;
      opacity: 0;
      &.active {
        opacity: 1
      }
      a {
        display: block;
        i {
          background-color: var(--blue-color-1);
          color: var(--white);
          padding:  .3rem .8rem;
          border-radius: 10px;
          justify-self: center
          
          
        }
      }
    }
  }
}

footer {
  margin-top: 6rem;
  padding: 2rem;
  background-color: var(--blue-color-2);
}
