* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: rgba(23, 26, 32, 0.8);
}
* a {
  text-decoration: none;
}

body {
  background-color: var(--white);
}

:root {
  --white: whitesmoke;
  --tertiary-color: rgb(197, 101, 22);
  --blue-color-1: rgb(67, 128, 128);
  --blue-color-2: rgb(80, 182, 182);
  --blue-color-3: rgb(211, 241, 243);
  --grey-color-1: #ccc;
  --grey-color-2: #b9b7b7;
}

::-webkit-scrollbar {
  display: none;
}

.section {
  background-color: var(--white);
}

.sec2 {
  background-color: var(--blue-color-3);
}

/* navbar*/
.header {
  width: 100%;
  position: fixed;
  z-index: 110;
}
.header.appear {
  background-color: var(--white);
  box-shadow: 0 4px 10px 0 rgba(32, 42, 39, 0.09);
}
.header .navbar {
  padding: 1rem 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.header .navbar a {
  text-decoration: none;
  color: #000;
  border-radius: 10px;
  padding: 0.5rem;
  transition: background-color 0.4s ease-in-out;
}
.header .navbar a:hover {
  color: var(--blue-color-1);
}
.header .navbar h1 a {
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  transition: background-color 0.4s ease-in-out;
}
.header .navbar h1 a:hover {
  color: var(--blue-color-1);
}
.header .navbar .nav-items {
  display: flex;
  align-items: center;
}
.header .navbar .nav-items li {
  list-style: none;
  margin-inline: 1rem;
}
.header .navbar .nav-items li .nav-item {
  font-weight: 700;
  border-radius: 10px;
  padding: 0.5rem;
  transition: background-color 0.4s ease-in-out;
}
.header .navbar li {
  list-style: none;
  margin-inline: 1rem;
}
.header .navbar li .nav-item {
  font-weight: 700;
}

/*front page*/
.home {
  height: 100vh;
}
.home .home-container .home-panoramic {
  height: 55vh;
  position: relative;
}
.home .home-container .home-panoramic picture {
  position: absolute;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .home-container .home-panoramic picture img {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .home-container .home-items {
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
  padding-inline: 1.25rem;
  display: flex;
  justify-content: end;
}
.home .home-container .home-items .home-image {
  position: absolute;
  left: 4rem;
  top: -22vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 rgba(32, 42, 39, 0.09);
}
.home .home-container .home-items .home-image img {
  height: 45vh;
  aspect-ratio: 0.7;
  -o-object-fit: contain;
     object-fit: contain;
}
.home .home-container .home-items .home-texte-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 60%;
}
.home .home-container .home-items .home-texte-con .home-text-title {
  max-width: 100%;
  flex-basis: 100%;
}
.home .home-container .home-items .home-texte-con .home-text-title h2 {
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 1.55rem;
  font-weight: 800;
}
.home .home-container .home-items .home-texte-con .home-text-title h2 span {
  text-transform: capitalize;
}
.home .home-container .home-items .home-texte-con .home-texte {
  width: 100%;
  flex-basis: 100%;
}
.home .home-container .home-items .home-texte-con .home-texte p {
  line-height: 1.6rem;
}
.home .home-container .home-bottom-text {
  position: absolute;
  bottom: 2.7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.home .home-container .home-bottom-text h3 {
  text-align: center;
  font-size: 1.5rem;
}
.home .home-container .home-bottom-text h3 span {
  color: var(--blue-color-2);
  font-size: 1.7rem;
}
.home .home-container .nxt-btn {
  position: absolute;
  bottom: 2%;
  left: 50%;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding-inline: 1.25rem;
  transform: translateX(-50%);
  text-align: center;
}
.home .home-container .nxt-btn a {
  padding-top: 4.5rem;
}
.home .home-container .nxt-btn a .next-arrow {
  font-size: 1.4rem;
  animation: nxtpage 2s infinite;
}
@keyframes nxtpage {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(0.4rem);
  }
  44% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(0.15rem);
  }
  66% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.house-display {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.house-display .house-grid-container {
  max-width: 1350px;
  margin: 0 auto;
  padding-top: 60px;
}
.house-display .house-grid-container .house-grid-title {
  font-size: 2rem;
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;
}
.house-display .house-grid-container .house-grid-title span {
  color: var(--blue-color-1);
}
.house-display .house-grid-container .house-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  overflow: hidden;
  padding-inline: 0.5rem;
}
.house-display .house-grid-container .house-items .house-item {
  border-radius: 5px;
  position: relative;
  margin-block: 1.5rem;
  background-color: var(--white);
  box-shadow: 0 1px 5px 3px hsla(0, 0%, 47%, 0.2);
  transition: all 0.35s ease-in-out;
  transform: scale(1);
  overflow: hidden;
}
.house-display .house-grid-container .house-items .house-item:hover img {
  transform: scale(1.05);
  height: 100%;
}
.house-display .house-grid-container .house-items .house-item .img-wrapper {
  width: 100%;
  max-height: 321.48px;
  overflow: hidden;
}
.house-display .house-grid-container .house-items .house-item .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.house-display .house-grid-container .house-items .house-item .house-texte {
  margin-inline: 1rem;
  margin-top: 0.2rem;
}
.house-display .house-grid-container .house-items .house-item .house-texte .house-rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.house-display .house-grid-container .house-items .house-item .house-texte .house-name {
  font-size: 1.6rem;
  color: black;
  margin-bottom: 1rem;
}
.house-display .house-grid-container .house-items .house-item .house-texte .house-details {
  margin-bottom: 1.2rem;
}
.house-display .house-grid-container .house-items .house-item .house-texte .house-details i {
  color: var(--blue-color-1);
}
.house-display .house-grid-container .house-items .house-item .house-texte .house-price {
  margin-bottom: 1rem;
}
.house-display .house-grid-container .house-items .house-item .house-texte .house-price span {
  font-size: 1.3rem;
}
.house-display .house-grid-container .house-items .house-item .house-texte .house-price span .price {
  color: var(--blue-color-1);
  font-size: 1.4rem;
}

.contact-form .contact-btn-con {
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form .contact-btn-con .contact-btn {
  border: 1px solid var(--blue-color-1);
  padding: 0.7rem 1.4rem;
  border-radius: 100vw;
  color: var(--blue-color-1);
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}
.contact-form .contact-btn-con .contact-btn:hover {
  background-color: var(--blue-color-1);
  color: var(--white);
}

:root {
  --white: whitesmoke;
  --tertiary-color: rgb(197, 101, 22);
  --blue-color-1: rgb(67, 128, 128);
  --blue-color-2: rgb(80, 182, 182);
  --blue-color-3: rgb(211, 241, 243);
  --grey-color-1: #ccc;
  --grey-color-2: #b9b7b7;
}

.header-house {
  position: static;
  box-shadow: 0 4px 10px 0 rgba(32, 42, 39, 0.09);
}

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding-inline: 1.25rem;
}

.house-intro .name-container-bg {
  background-color: var(--blue-color-3);
  padding-block: 4rem 3rem;
}
.house-intro .name-container-bg .name-container {
  max-width: 1350px;
  margin: 0 auto;
  padding-inline: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.house-intro .name-container-bg .name-container .house-name p:first-child {
  font-weight: 700;
  font-size: 2.5rem;
}
.house-intro .name-container-bg .name-container .rating-con {
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.house-intro .name-container-bg .name-container .rating-con p {
  text-align: end;
}
.house-intro .name-container-bg .name-container .house-name {
  padding-bottom: 3rem;
}
.house-intro .name-container-bg .name-container .house-name :first-child {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.house-intro .name-container-bg .name-container .house-name :last-child {
  padding-left: 14px;
}

.house-index-main {
  position: relative;
  margin-top: -40px;
  padding-inline: 0;
}
.house-index-main .index-menu {
  top: 0;
  position: sticky;
  z-index: 1000;
}
.house-index-main .index-menu .house-index-con {
  margin-bottom: -2.5rem;
}
.house-index-main .index-menu .house-index-con .house-index {
  border-radius: 20px;
  background-color: var(--white);
  display: flex;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
  overflow: hidden;
  z-index: 1000;
  box-shadow: 0 4px 10px 0 rgba(32, 42, 39, 0.09);
}
.house-index-main .index-menu .house-index-con .house-index .house-index-item {
  list-style: none;
  display: flex;
  flex: 1;
}
.house-index-main .index-menu .house-index-con .house-index .house-index-item a {
  padding: 1.5rem 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.house-index-main .index-menu .house-index-con .house-index .house-index-item a:hover:after, .house-index-main .index-menu .house-index-con .house-index .house-index-item a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: var(--blue-color-2);
}

.main-title-con {
  margin-bottom: 1.5rem;
}
.main-title-con .main-title {
  display: flex;
  overflow: hidden;
  align-items: center;
}
.main-title-con .main-title span {
  margin-right: 1rem;
  font-weight: 600;
}
.main-title-con .main-title::after {
  content: "";
  display: block;
  flex: 1;
  width: 100%;
  height: 2px;
  background-color: var(--blue-color-2);
}

.house-container {
  display: flex;
}
.house-container .house-items {
  flex-grow: 1;
  width: 100px;
  position: relative;
  padding-right: 1.6rem;
  padding-bottom: 2rem;
}
.house-container .house-items .house-item-description .photo-description {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 5rem;
  flex-grow: 0;
  flex-basis: 100%;
  max-width: 100%;
}
.house-container .house-items .house-item-description .photo-description .photo-mosaic {
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  overflow: hidden;
  grid-gap: 10px;
}
.house-container .house-items .house-item-description .photo-description .photo-mosaic .main-photo {
  grid-column: span 2;
  grid-row: span 3;
}
.house-container .house-items .house-item-description .photo-description .photo-mosaic .main-photo a img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.house-container .house-items .house-item-description .photo-description .photo-mosaic .other-photo {
  display: block;
}
.house-container .house-items .house-item-description .photo-description .photo-mosaic .other-photo a img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.house-container .house-items .house-item-description .photo-description .icon-des ul {
  display: flex;
  -moz-column-gap: 2.8rem;
       column-gap: 2.8rem;
}
.house-container .house-items .house-item-description .photo-description .icon-des ul li {
  row-gap: 0.7rem;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.house-container .house-items .house-item-description .photo-description .icon-des ul li:last-child {
  align-items: flex-start;
}
.house-container .house-items .house-item-description .photo-description .icon-des ul li span {
  font-size: 1.4rem;
}
.house-container .house-items .house-item-description .photo-description .icon-des ul li i {
  font-size: 1.4rem;
}
.house-container .house-items .house-item-description .photo-description .icon-des ul li p:first-child {
  font-weight: 600;
}
.house-container .house-items .house-item-description .text-description {
  padding-top: 6rem;
}
.house-container .house-items .house-item-description .text-description .main-title-con {
  margin-bottom: 1rem;
}
.house-container .house-items .house-item-description .text-description .text-des-con {
  padding-inline: 1rem;
}
.house-container .house-items .house-item-description .text-description .text-des-con p:first-child {
  margin-bottom: 0.5rem;
}
.house-container .house-items .house-item-description .text-description .text-des-con .caution-con {
  margin-top: 3rem;
  display: flex;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.house-container .house-items .house-item-description .text-description .text-des-con .caution-con p {
  font-weight: 600;
}
.house-container .house-items .house-item-description .text-description .text-des-con .caution-con li::marker {
  color: var(--blue-color-1);
}
.house-container .house-items .house-item-description .text-description .text-des-con .caution-con li .caution-1 {
  position: relative;
  left: -10px;
}
.house-container .house-items .house-item-description .text-description .text-des-con .caution-con li .caution-2 {
  padding-left: 14px;
  color: var(--blue-color-2);
  font-weight: 500;
}
.house-container .house-items .house-item-description .text-description .text-des-con .caution-con:last-child {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  flex-direction: column;
}
.house-container .house-items .house-item-description .text-description .text-des-con .caution-con:last-child .tarif {
  padding-top: 1rem;
}
.house-container .house-items .house-item-description .text-description .text-des-con .caution-con:last-child .prices-con {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  justify-content: center;
  padding: 1.2rem;
  box-shadow: 0 0px 10px 0 rgba(32, 42, 39, 0.3);
  border-radius: 16px;
}
.house-container .house-items .house-item-description .text-description .text-des-con .caution-con:last-child .prices-con li {
  flex: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}
.house-container .house-items .photo-carousel {
  padding-top: 6rem;
}
.house-container .house-items .photo-carousel .slider-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  height: 450px;
  overflow: hidden;
}
.house-container .house-items .photo-carousel .slider-container img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.house-container .house-items .photo-carousel .slider-container .menu {
  position: absolute;
  left: 0;
  z-index: 11;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.house-container .house-items .photo-carousel .slider-container .menu label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50px;
  margin: 0 0.2em 1em;
  background-color: #ccc;
}
.house-container .house-items .photo-carousel .slider-container .menu label:hover {
  background-color: #1c87c9 !important;
}
.house-container .house-items .photo-carousel .slider-container .slide-input {
  opacity: 0;
}
.house-container .house-items .photo-carousel .slider-container .slide-img {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: left 0s 0.75s;
}
.house-container .house-items .photo-carousel .slider-container [id^=slide]:checked + .slide-img {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}
.house-container .house-items .equipment-con {
  padding-block: 6rem;
  padding-bottom: 8rem;
  width: 100%;
}
.house-container .house-items .equipment-con .equipment-items {
  display: flex;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  margin-bottom: 1rem;
  padding: 1.25rem;
}
.house-container .house-items .equipment-con .equipment-items header {
  font-weight: 600;
}
.house-container .house-items .equipment-con .equipment-items ul {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2rem;
  justify-content: center;
}
.house-container .house-items .equipment-con .equipment-items ul li::marker {
  color: var(--blue-color-1);
}
.house-container .house-items .equipment-con .equipment-items.exte {
  padding-block: 2.2rem;
}
.house-container .contact-col {
  padding: 5rem 1rem;
  border-radius: 20px;
  width: 375px;
  background-color: var(--white);
  position: relative;
  z-index: 98;
}
.house-container .contact-col .contact-container {
  position: sticky;
  top: 100px;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: 2rem;
}
.house-container .contact-col .contact-container h3 {
  font-size: 1.6rem;
  display: flex;
  padding-left: 2rem;
}
.house-container .contact-col .contact-container .contacts {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-left: 2rem;
  border-left: 2px solid var(--blue-color-2);
  border-top: 2px solid var(--blue-color-2);
  padding-left: 1rem;
  padding-top: 1rem;
}
.house-container .contact-col .contact-container .contacts :first-child p {
  font-weight: 600;
  font-size: 1.1rem;
}
.house-container .contact-col .contact-container .contacts .contact {
  display: flex;
  align-items: baseline;
}
.house-container .contact-col .contact-container .contacts .contact i {
  margin-right: 6px;
}
.house-container .contact-col .contact-container .contacts .contact:last-child {
  padding-bottom: 2rem;
}
.house-container .contact-col .contact-container .contacts .contact a span {
  font-weight: 600;
  color: var(--blue-color-1);
}
.house-container .contact-col .contact-container .contacts .contact a span:hover {
  color: var(--blue-color-2);
}
.house-container .contact-col .backToTop {
  position: fixed;
  bottom: 4.2rem;
  margin-inline: 1rem;
  right: 0;
  opacity: 0;
}
.house-container .contact-col .backToTop.active {
  opacity: 1;
}
.house-container .contact-col .backToTop a {
  display: block;
}
.house-container .contact-col .backToTop a i {
  background-color: var(--blue-color-2);
  color: var(--white);
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  justify-self: center;
}

footer {
  margin-top: 6rem;
  padding: 2rem;
  background-color: var(--blue-color-2);
}

.contact-page {
  background-color: var(--white);
}
.contact-page .header-contact {
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  background-color: rgba(245, 245, 245, 0.5);
  box-shadow: 0 4px 10px 0 rgba(32, 42, 39, 0.09);
  transition: all 0.35s ease-in-out;
}
.contact-page .header-contact:hover {
  background-color: rgb(245, 245, 245);
}
.contact-page .contact-sec .background-con {
  height: 31.2rem;
  overflow: hidden;
}
.contact-page .contact-sec .background-con .contact-background {
  height: auto;
  width: 100%;
  background-image: url("https://www.ile-noirmoutier.com/sites/default/files/header/Le%20Bois%20des%20Eloux%202.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  aspect-ratio: auto 1679/525;
}
.contact-page .contact-sec .shadow::before {
  position: absolute;
  content: "";
  height: 160px;
  width: 50vw;
  left: 50%;
  transform: translateX(-50%);
  top: 50vh;
  box-shadow: 0 10px 15px 4px rgba(0, 0, 0, 0.5);
}
.contact-page .contact-sec .contact-infos-con {
  background-color: var(--white);
  position: absolute;
  left: 50%;
  top: 45vh;
  width: 100%;
  max-width: 50vw;
  transform: translateX(-50%);
}
.contact-page .contact-sec .contact-infos-con .contact-infos {
  padding: 2rem 1.5rem;
  margin-bottom: 4rem;
}
.contact-page .contact-sec .contact-infos-con .contact-infos h2 {
  text-transform: uppercase;
  margin-bottom: 3rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.contact-page .contact-sec .contact-infos-con .contact-infos h2 span {
  font-size: 1.6rem;
  margin-right: 0.5rem;
  color: var(--blue-color-1);
  letter-spacing: 0.04em;
}
.contact-page .contact-sec .contact-infos-con .contact-infos h2::after {
  content: "";
  display: block;
  flex: 1;
  width: 100%;
  height: 2px;
  background-color: var(--blue-color-1);
}
.contact-page .contact-sec .contact-infos-con .contact-details {
  margin-inline: 2rem;
}
.contact-page .contact-sec .contact-infos-con .contact-details .contact-info-main p {
  font-weight: bolder;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
.contact-page .contact-sec .contact-infos-con .contact-details .flex {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
}
.contact-page .contact-sec .contact-infos-con .contact-details .flex i {
  margin-right: 0.5rem;
}
.contact-page .contact-sec .contact-infos-con .contact-details a {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--blue-color-1);
}
.contact-page .contact-sec .contact-infos-con .contact-details a:hover {
  color: var(--blue-color-2);
}
@keyframes from-top {
  0% {
    transform: translateY(-1000%);
    opacity: 0;
  }
  90% {
    transform: translateY(10%);
    opacity: 1;
  }
  95% {
    transform: translateY(-7%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes from-bot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */