* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  color: rgba(23, 26, 32, 0.8);
}

* a {
  color: white;
  text-decoration: none;
}

:root {
  --white: whitesmoke;
  --tertiary-color: rgb(197, 101, 22);
  --blue-color-1: rgb(67, 128, 128);
  --blue-color-2: rgb(80, 182, 182);
  --grey-color-1: #ccc;
  --grey-color-2: #b9b7b7;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  z-index: 110;
}

.header .navbar {
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar a {
  text-decoration: none;
  color: #000;
  border-radius: 10px;
  padding: 0.5rem;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.header .navbar a:hover {
  background-color: var(--grey-color-1);
}

.header .navbar h1 a {
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.header .navbar h1 a:hover {
  background-color: var(--grey-color-1);
}

.header .navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .nav-items li {
  list-style: none;
  margin-inline: 1rem;
}

.header .navbar .nav-items li .nav-item {
  font-weight: 700;
  border-radius: 10px;
  padding: 0.5rem;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.header .navbar .nav-items li .nav-item:hover {
  background-color: var(--grey-color-1);
}

.header .navbar li {
  list-style: none;
  margin-inline: 1rem;
}

.header .navbar li .nav-item {
  font-weight: 700;
}

.main-content {
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.main-content .section {
  scroll-snap-align: start;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.main-content .section img {
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.main-content .section .mainpage-content {
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 8rem;
}

.main-content .section .mainpage-content.fade-in {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.main-content .section .mainpage-content.fade-in.appear {
  opacity: 1;
}

.main-content .section .mainpage-content .index-title {
  position: inherit;
  top: 10rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.main-content .section .mainpage-content .index-title .house-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.main-content .section .mainpage-content .accespage {
  position: inherit;
  left: 50%;
  top: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-content .section .mainpage-content .accespage .access-btn .link-item {
  background-color: rgba(23, 26, 32, 0.8);
  border-radius: 100vw;
  padding: 0.7rem 4rem;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.main-content .section .mainpage-content .accespage .access-btn .link-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main-content .section .mainpage-content .accespage .access-btn .link-item .btn-texte {
  color: white;
}

.main-content .section .mainpage-content .accespage a {
  padding-top: 4.5rem;
}

.main-content .section .mainpage-content .accespage a .next-arrow {
  font-size: 1.4rem;
  -webkit-animation: nxtpage 2s infinite;
          animation: nxtpage 2s infinite;
}

.main-content .section .mainpage-content.onInit .index-title {
  -webkit-animation: onInit-title 1s ease-in;
          animation: onInit-title 1s ease-in;
}

.main-content .section .mainpage-content.onInit .access-btn {
  -webkit-animation: onInit-access 1s ease-in;
          animation: onInit-access 1s ease-in;
}

@-webkit-keyframes nxtpage {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  33% {
    -webkit-transform: translateY(0.35rem);
            transform: translateY(0.35rem);
  }
  44% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(0.15rem);
            transform: translateY(0.15rem);
  }
  66% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nxtpage {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  33% {
    -webkit-transform: translateY(0.35rem);
            transform: translateY(0.35rem);
  }
  44% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(0.15rem);
            transform: translateY(0.15rem);
  }
  66% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes onInit-title {
  0% {
    -webkit-transform: translate(-50%, 2rem);
            transform: translate(-50%, 2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes onInit-title {
  0% {
    -webkit-transform: translate(-50%, 2rem);
            transform: translate(-50%, 2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
  }
}

@-webkit-keyframes onInit-access {
  0% {
    -webkit-transform: translate(0, -2rem);
            transform: translate(0, -2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes onInit-access {
  0% {
    -webkit-transform: translate(0, -2rem);
            transform: translate(0, -2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

:root {
  --white: whitesmoke;
  --tertiary-color: rgb(197, 101, 22);
  --blue-color-1: rgb(67, 128, 128);
  --blue-color-2: rgb(80, 182, 182);
  --blue-color-3: rgb(211, 241, 243);
  --grey-color-1: #ccc;
  --grey-color-2: #b9b7b7;
}

.house {
  background-color: var(--white);
}

.from-left {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
  opacity: 0;
}

.from-left.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.from-right {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
  opacity: 0;
}

.from-right.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.house main {
  padding-top: 5rem;
}

.house main .about .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 2rem;
  -webkit-animation: title-anim 0.35s ease-in;
          animation: title-anim 0.35s ease-in;
}

@-webkit-keyframes title-anim {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes title-anim {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.house main .about .title-container .title {
  color: #50b6b6;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
}

.house main .about .title-container p {
  font-size: 1.3rem;
  font-weight: 600;
}

.house main .about .about-container {
  margin-top: 2rem;
  margin-inline: 10%;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.house main .about .about-container .left-con {
  height: 100%;
  width: 100%;
  border-right: 2px solid var(--blue-color-2);
  padding-right: 1rem;
  -webkit-animation: left-anim 0.7s ease-in;
          animation: left-anim 0.7s ease-in;
}

@-webkit-keyframes left-anim {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes left-anim {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.house main .about .about-container .left-con a .img-about {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.house main .about .about-container .right-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: right-anim 0.7s ease-in;
          animation: right-anim 0.7s ease-in;
}

@-webkit-keyframes right-anim {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right-anim {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.house main .about .about-container .right-con h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.2rem;
}

.house main .about .about-container .right-con .des-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-bottom: 1.5rem;
}

.house main .about .about-container .right-con .des-item .des-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 1rem;
}

.house main .about .about-container .right-con .des-item span {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.house main .about .about-container .right-con .des-item p {
  padding-left: 1rem;
}

.house main .about .tarif-con {
  height: 50vh;
  margin-block: 4rem;
  padding-bottom: 10rem;
  padding-top: 3rem;
  background-color: var(--blue-color-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.house main .about .tarif-con .subtitle {
  color: var(--blue-color-1);
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-block: 3rem;
  position: relative;
}

.house main .about .tarif-con .tarif-items {
  display: -ms-grid;
  display: grid;
  margin-inline: 13%;
  border: 1px solid var(--grey-color-2);
  background-color: var(--white);
  border-radius: 20px;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding-block: 2rem;
}

.house main .about .tarif-con .tarif-items .tarif-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.house main .about .tarif-con .tarif-items .tarif-item p {
  font-weight: 500;
}

.house main .about .tarif-con .tarif-items .tarif-item p span {
  font-weight: 700;
}

.house main .about .tarif-con .tarif-items .tarif-item :last-child {
  margin-top: 1.5rem;
}

.house main .photos {
  margin-block: 4rem 10rem;
}

.house main .photos .subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-block: 2rem;
  position: relative;
}

.house main .photos .slider-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  height: 450px;
  overflow: hidden;
}

.house main .photos .slider-container img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.house main .photos .slider-container .menu {
  position: absolute;
  left: 0;
  z-index: 11;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.house main .photos .slider-container .menu label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50px;
  margin: 0 0.2em 1em;
  background-color: #ccc;
}

.house main .photos .slider-container .menu label:hover {
  background-color: #1c87c9 !important;
}

.house main .photos .slider-container .slide-input {
  opacity: 0;
}

.house main .photos .slider-container .slide-img {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  -webkit-transition: left 0s 0.75s;
  transition: left 0s 0.75s;
}

.house main .photos .slider-container [id^="slide"]:checked + .slide-img {
  left: 0;
  z-index: 100;
  -webkit-transition: left 0.65s ease-out;
  transition: left 0.65s ease-out;
}

.house main .localisation {
  margin-block: 4rem 6rem;
}

.house main .localisation .subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-block: 2rem;
  position: relative;
}

.house main .localisation .subtitle::before {
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
  background-color: var(--grey-color-2);
  left: 50%;
  top: -30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.house main .localisation .mapouter {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer {
  width: 2.3rem;
  overflow: hidden;
  position: fixed;
  top: 30%;
  right: 5px;
  border: 2px solid var(--tertiary-color);
  background-color: var(--white);
  z-index: 200;
  padding-inline: 0.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer:hover {
  width: 13.5rem;
}

.footer:hover .contact-container .contacts .contact p,
.footer:hover .contact-container .contacts .contact a {
  font-size: 1rem;
}

.footer .contact-container .foo-col {
  color: var(--tertiary-color);
  margin-bottom: 1.5rem;
}

.footer .contact-container .contacts {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .contact-container .contacts .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .contact-container .contacts .contact .foo-col {
  color: var(--tertiary-color);
}

.footer .contact-container .contacts .contact .foo-col span {
  text-decoration: underline;
  color: var(--tertiary-color);
}

.footer .contact-container .contacts .contact a {
  font-size: 0;
}

.footer .contact-container .contacts .contact i {
  margin-right: 10px;
}

.footer .contact-container .contacts .contact p {
  font-size: 0;
}

.contact-page {
  background-color: var(--white);
}

.contact-page .header-contact {
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  background-color: rgba(245, 245, 245, 0.5);
  -webkit-box-shadow: 0 4px 10px 0 rgba(32, 42, 39, 0.09);
          box-shadow: 0 4px 10px 0 rgba(32, 42, 39, 0.09);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.contact-page .header-contact:hover {
  background-color: whitesmoke;
}

.contact-page .contact-sec .background-con {
  height: 31.2rem;
  overflow: hidden;
}

.contact-page .contact-sec .background-con .contact-background {
  height: auto;
  width: 100%;
  background-image: url("https://www.ile-noirmoutier.com/sites/default/files/header/Le%20Bois%20des%20Eloux%202.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  aspect-ratio: auto 1679 / 525;
}

.contact-page .contact-sec .shadow::before {
  position: absolute;
  content: "";
  height: 160px;
  width: 50vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 26em;
  -webkit-box-shadow: 0 10px 15px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 15px 4px rgba(0, 0, 0, 0.5);
}

.contact-page .contact-sec .contact-infos-con {
  background-color: var(--white);
  position: relative;
  left: 50%;
  top: -7rem;
  width: 100%;
  max-width: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact-page .contact-sec .contact-infos-con .contact-infos {
  padding: 2rem 1.5rem;
  margin-bottom: 4rem;
}

.contact-page .contact-sec .contact-infos-con .contact-infos h2 {
  text-transform: uppercase;
  margin-bottom: 3rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-page .contact-sec .contact-infos-con .contact-infos h2 span {
  font-size: 1.6rem;
  margin-right: 0.5rem;
  color: var(--blue-color-1);
  letter-spacing: 0.04em;
}

.contact-page .contact-sec .contact-infos-con .contact-infos h2::after {
  content: "";
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 2px;
  background-color: var(--blue-color-1);
}

.contact-page .contact-sec .contact-infos-con .contact-details {
  margin-inline: 2rem;
}

.contact-page .contact-sec .contact-infos-con .contact-details .contact-info-main p {
  font-weight: bolder;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.contact-page .contact-sec .contact-infos-con .contact-details .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 1rem;
}

.contact-page .contact-sec .contact-infos-con .contact-details .flex i {
  margin-right: 0.5rem;
}

.contact-page .contact-sec .contact-infos-con .contact-details a {
  color: rgba(23, 26, 32, 0.8);
  margin-bottom: 0.5rem;
}

.contact-page .contact-sec .contact-infos-con .contact-details a:hover {
  color: var(--blue-color-2);
}

@-webkit-keyframes from-top {
  0% {
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 1;
  }
  95% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes from-top {
  0% {
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 1;
  }
  95% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes from-bot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes from-bot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style_old.css.map */