* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: rgba(23, 26, 32, 0.8);
  a {
    color: white;
    text-decoration: none;
  }
}
:root {
  --white: whitesmoke;
  --tertiary-color: rgb(197, 101, 22);
  --blue-color-1: rgb(67, 128, 128);
  --blue-color-2: rgb(80, 182, 182);
  --grey-color-1: #ccc;
  --grey-color-2: #b9b7b7;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.4);
  backdrop-filter: blur(10px);
  //   url("../img/92dc68a31a4c07bc9d6becccd4bba954.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  position: fixed;
  z-index: 110;

  .navbar {
    padding: 0.5rem 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: #000;
      border-radius: 10px;
      padding: 0.5rem;
      transition: background-color 0.4s ease-in-out;
      &:hover {
        background-color: var(--grey-color-1);
      }
    }
    h1 a {
      border-radius: 10px;
      padding: 0.2rem 0.5rem;
      transition: background-color 0.4s ease-in-out;
      &:hover {
        background-color: var(--grey-color-1);
      }
    }
    .nav-items {
      display: flex;
      align-items: center;
      li {
        list-style: none;
        margin-inline: 1rem;

        .nav-item {
          font-weight: 700;
          border-radius: 10px;
          padding: 0.5rem;
          transition: background-color 0.4s ease-in-out;
          &:hover {
            background-color: var(--grey-color-1);
          }
        }
      }
    }
    li {
      list-style: none;
      margin-inline: 1rem;
      .nav-item {
        font-weight: 700;
      }
    }
  }
}

.main-content {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  .section {
    scroll-snap-align: start;
    height: 100vh;
    overflow: hidden;
    position: relative;

    img {
      z-index: -1;
      height: 100%;
      width: 100%;
      // filter: brightness(120%);
      opacity: 0.8;
      object-fit: scale-down;
    }
    .mainpage-content {
      width: 100%;
      // display: flex;
      // flex-direction: column;
      position: absolute;
      // justify-content: center;
      // align-items: center;
      top: 0;

      padding-top: 8rem;
      &.fade-in {
        opacity: 0;
        transition: opacity 1s ease-in;

        &.appear {
          opacity: 1;
        }
      }

      .index-title {
        position: inherit;
        top: 10rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .house-title {
          font-size: 2.5rem;
          margin-bottom: 0.5rem;
        }
      }

      .accespage {
        position: inherit;
        left: 50%;
        top: 82vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%);
        .access-btn {
          .link-item {
            background-color: rgba(23, 26, 32, 0.8);
            border-radius: 100vw;
            padding: 0.7rem 4rem;
            text-decoration: none;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            display: inline-block;
            &:hover {
              transform: scale(1.05);
            }
            .btn-texte {
              color: white;
            }
          }
        }
        a {
          padding-top: 4.5rem;
          .next-arrow {
            font-size: 1.4rem;
            animation: nxtpage 2s infinite;
          }
        }
      }
      &.onInit {
        .index-title {
          animation: onInit-title 1s ease-in;
        }
        .access-btn {
          animation: onInit-access 1s ease-in;
        }
      }
    }
  }
}

// Animation for arrow of section 1
@keyframes nxtpage {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(0.35rem);
  }
  44% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(0.15rem);
  }
  66% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes onInit-title {
  0% {
    transform: translate(-50%, 2rem);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
@keyframes onInit-access {
  0% {
    transform: translate(0, -2rem);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@import "./sub-styles/house";
@import "./sub-styles/contact";
@import "./sub-styles/media";
